 ﻿body {
}

.ui-info-box {
    margin-top: 14px;
}

    .ui-info-box.safe {
        border: 1px solid #76bd27;
    }

    .ui-info-box.waring {
        border: 1px solid #fab40e;
    }

    .ui-info-box.stop {
        border: 1px solid #e9323e;
    }

    .ui-info-box h2 {
        font-weight: 400;
    }

    .ui-info-box h3 {
        font-weight: 400;
    }

    .ui-info-box table {
        width: 100%;
    }

        .ui-info-box table th {
            color: #fff;
            text-align: left;
            padding: 0px 30px;
            border-bottom: 1px dotted #01ffff;
        }

    .ui-info-box.safe table th {
        background-color: #76bd27;
    }

    .ui-info-box.waring table th {
        background-color: #fab40e;
    }

    .ui-info-box.stop table th {
        background-color: #e9323e;
    }

.ui-info-line {
    margin-right: 16px;
    border-top: 1px solid #f3f3f3;
}

.ui-info-service {
    float: left;
    margin-right: 24px;
    height: 66px;
    line-height: 66px;
}

.ui-info-service-more {
    float: right;
}

    .ui-info-service-more a {
        color: #333;
        margin-right: 24px;
        height: 66px;
        line-height: 66px;
    }

.ui-info-title {
    color: #000;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
}

.ui-info-content {
    color: #333;
    font-size: 14px;
    height: 21px;
    line-height: 21px;
}

    .ui-info-content a {
        font-size: 12px;
        text-decoration: underline;
    }

    .ui-info-content em {
        font-style: normal;
        color: #ff4a00;
    }

.ui-info-th-left {
    float: left;
}

.ui-info-th-right {
    float: right;
}

.ui-info-img {
    padding: 30px 0;
    width: 216px;
}

.ui-info-col-1, .ui-info-col-3 {
    width: 320px;
}

.ui-info-col-1, .ui-info-col-2 {
    padding-top: 30px;
}

@media (max-width:1260px) {
    .ui-info-col-1, .ui-info-col-3 {
        width: 220px;
    }

    .ui-info-service {
        height: 44px;
        line-height: 44px;
    }

    .ui-info-service-more a {
        height: 22px;
        line-height: 22px;
    }
}

.ui-service-record {
    margin-top: -1px;
    border: 1px solid #dfdfdf;
    padding: 24px 0 0 28px;
    background-color: #fafafa;
    display: none;
}

    .ui-service-record .ui-record-header {
        font-size: 16px;
        color: #000;
        font-weight: bold;
    }

    .ui-service-record ul {
        list-style-image: url(/images/circle.png);
        margin-bottom:0;
    }

.ui-service-record ul li {
    font-size: 16px;
    color: #333;
    padding-bottom: 10px;
}

    .ui-service-record ul li .ui-record-content {
        font-size: 12px;
        color: #333;
        padding: 12px 0 12px 0;
    }

        .ui-service-record ul li .ui-record-content .ui-record-line {
            height: 24px;
            line-height: 24px;
        }

.ui-service-record .ui-record-close {
text-align:right;
margin-right:24px;
height:24px;
line-height:24px;
color:#333;
cursor:pointer;
margin-bottom:20px;
}

.ui-service-record .ui-record-close img {
    margin-top:-4px;
}

.ui-service-record .ui-sort-line {
list-style:none;
border-left:1px solid #dfdfdf;
position:absolute;
margin-left:-12px;
margin-top:18px;
height:25px;
padding:0;
}

.ui-service-record .ui-long-line {
list-style:none;
border-left:1px solid #dfdfdf;
position:absolute;
margin-left:-12px;
margin-top:18px;
height:121px;
padding:0;
}

.ui-non-purchase {
width: 560px;
height: 515px;
margin: 24px auto;
}

.ui-non-purchase h2.ui-non-purchase-title {
font-size: 30px;
font-weight: 400;
color: #333;
text-align: center;
margin-bottom:0px;
}

.ui-non-purchase a.ui-non-purchase-tip {
display: block;
font-size: 14px;
color: #ff4a00;
text-align: center;
}

.ui-non-purchase .ui-non-purchase-box {
margin-top:44px;
}

.ui-non-purchase .ui-non-purchase-box .ui-non-purchase-box-left {
    float:left;
    padding:0px 42px 0 24px;
}

.ui-non-purchase .ui-non-purchase-box .ui-non-purchase-box-left {
    float:left;
}

    .ui-non-purchase .ui-non-purchase-box .ui-non-purchase-box-right .ui-non-purchase-striking {
        padding-top:42px;
        padding-bottom:92px;
    }

    .ui-non-purchase .ui-non-purchase-box .ui-non-purchase-box-right .ui-non-purchase-striking .ui-non-purchase-striking-text{
        font-size:16px;
        color:#333;
        height:52px;
        line-height:52px;
    }

.ui-non-purchase .ui-non-purchase-box .ui-non-purchase-box-right .ui-non-purchase-note {
    color:#8c8c8c;
    font-size:12px;
}        